{% load i18n %}
<div class="header-jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">{% trans "Nissan Cebu Parts Arrival" %}</h1>
            <p class="lead">{% trans "Systematize Parts Arrival System" %}</p>
            <hr class="my-2">
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">{% trans "Get Started" %}</a>
            </p>
        </div>
    </div>
</div>