{% load i18n %}
{% load bootstrap4 %}
               <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row align-items-center">
                                                   <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search part number">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
