[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "==2.1"
psycopg2 = "*"
django-extensions = "*"
werkzeug = "*"
django-debug-toolbar = "*"
django-bootstrap4 = "*"
pynvim = "*"
autopep8 = "*"
django-bootstrap-modal-forms = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
