[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
faker = "*"
factory-boy = "*"
pytest = "*"
coverage = "*"
selenium = "*"
autopep8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pynvim = "*"

[packages]
django = "==2.1"
psycopg2 = "*"
werkzeug = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
