[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
factory-boy = "*"
pytest = "*"
coverage = "*"
selenium = "*"
autopep8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pynvim = "*"
pytest-cov = "*"
pytest-django = "*"
livereload = "*"

[packages]
psycopg2 = "*"
werkzeug = "*"
django-bootstrap4 = "*"
django-bootstrap-modal-forms = "*"
django = "==2.2"
tox = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
