{% extends "common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} {% trans "Update Information" %} {% endblock title %}
{% block navbar %} {% include "common/includes/navbar.html" %} {% endblock navbar %}
{% block sidebar %} {% include "common/includes/sidebar.html" %} {% endblock sidebar %}
{% block message %} {% include "common/includes/message.html" %} {% endblock message %}
{% block main %}

    <div class="modal-header">
    <h3 class="modal-title">{% trans "Parts Advisor Details" %}</h3>
    <button type="button" data-dismiss="modal" class="close" aria-label="Close">
    <span aria-hidden="close">&times;</span>
    </button>
    </div> 
    <div class="modal-body">
        <div class="card card-default">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_field form.username %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.last_name%}
                {% bootstrap_field form.first_name%}
                <div class="col">
                    <label for=""></label>
                    <button type="submit" class="btn btn-success btn-block" id="submit-button">{% trans "Update" %}</button>
                </div>
                 <div class="col">
                    <label for=""></label>
                    <a href="{% url 'partsnumber:parts_number_index_view' %}" class="btn btn-danger btn-block">{% trans "Cancel" %}</a>
                </div>
            </form>      
                        </div>
                </div>
    </div>     
                
{% include 'common/modal/_modal_footer.html' %}
{% endblock main %}
