{% extends "common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Add Service Advisor {% endblock title %}
{% block top_bar %} {% include "common/navbar.html" %} {% endblock top_bar %}
{% block sidebar %} {% include "common/sidebar.html" %} {% endblock sidebar %}

{% block main %}
<div class="col-md-10 card-col">
{% comment %} {% block  message %}{% include "common/message.html" %}{% endblock message  %} {% endcomment %}
    <div class="card card-default">
        <div class="card-body">
           <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form  %}
                    {% if advisor is not None %}
                        <div class="col">
                            <label for=""></label>
                            <button type="submit" class="btn btn-primary btn-block" id="submit-button">{% trans "Save" %}</button>
                        </div>
                    {% else %}
                        <div class="col">
                            <label for=""></label>
                            <button type="submit" class="btn btn-success btn-block" id="submit-button">{% trans "Update" %}</button>
                        </div>
                    {% endif %}
                <div class="col">
                    <label for=""></label>
                    <a href="{% url 'partsnumber:parts_show_class' %}" class="btn btn-danger btn-block">{% trans "Cancel" %}</a>
                </div>
         </div>
            </form>
    </div>
<div>
{% endblock main %}
