{% extends "common/base.html" %}
{% load humanize i18n bootstrap4 %}

{% block navbar %} {% include "common/navbar.html" %} {% endblock navbar %}
{% block sidebar %} {% include "common/sidebar.html" %} {% endblock sidebar %}
{% block message %} {% include "common/message.html" %} {% endblock message %}

{% block main %}
    {% include "common/modal/_modal.html" %}
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
             <h1 class="m-0"><b>{% trans "Service Advisor" %}</b></h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                <a href="#">{% trans "Home" %}</a>
                </li>
                <li class="breadcrumb-item active">
                <a href="#">{% trans "Service Advisor" %}</a>
                </li>
            </ol>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-body">
          <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                    <a href="{% url 'advisor:advisor_create' %}" class="btn btn-danger btn-sm float-sm-right">
                    {% trans "Add Advisor" %}
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    </a>
                    </div>
                </div>
            <table class="table table-bordered xs-data-table">
                <thead class="thead-dark">
                    <tr>
                        {% comment %} <th>Employee ID</th> {% endcomment %}
                        <th>{% trans "First Name" %}</th>
                        <th>{% trans "Last Name" %}</th>
                        <th>{% trans "Designation" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>

                        {% for service_advisor in page_obj.object_list  %}
                    <tr>
                        <td>{{ service_advisor.first_name }}</a></b></td>
                        <td>{{ service_advisor.last_name }}</td>
                        <td>{{ service_advisor.designation }}</td>
              {% if user.is_staff %}
            <td><a href="{% url 'advisor:advisor_update_view' pk=service_advisor.id %}" 
                    class="btn btn-primary btn-xs edit-users">
                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-success btn-xs read-advisor" 
                data-id = "{% url 'advisor:advisor_read_view' pk=service_advisor.id %}"
            data-toggle="modal" data-target="#modal">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            </td>
                {% endif %}
                </tr>
                {% empty %}
                            <p class="font-weight-bold">{% trans "No partnumbers has been added try adding" %} 
                            <a href="{% url 'partsnumber:parts_number_create_view'%}">{% trans "here" %}</a></p>
                            <p class="mb-0"></p>
                        {% endfor %}

                </tbody>
            </table>
        <div>
    </div>
</div>
</div>
</section>
    {% include "common/paginator.html" %}
{% endblock main %}
