{% extends "common/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block navbar %} {% include "common/navbar.html" %} {% endblock navbar %}
{% block sidebar %} {% include "common/sidebar.html" %} {% endblock sidebar %}
{% block message %} {% include "common/message.html" %} {% endblock message %}

{% block main %}
    {% include "common/modal/_modal.html" %}
<div class="col-md-10 col-lg-10 card-col">       
    <div class="card card-default">
        <div class="card-body">
            <table class="table table-bordered xs-data-table">
                <thead class="thead-dark">
                    <tr>
                    <a href="{% url 'advisor:advisor_create' %}">
                    <button class="btn btn-primary btn-md add-button-cls">
                        {% trans "Add Parts Service Advisor" %}
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    </a>
                        {% comment %} <th>Employee ID</th> {% endcomment %}
                        <th>{% trans "First Name" %}</th>
                        <th>{% trans "Last Name" %}</th>
                        <th>{% trans "Designation" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>

                        {% for service_advisor in page_obj.object_list  %}
                    <tr>
                        <td>{{ service_advisor.first_name }}</a></b></td>
                        <td>{{ service_advisor.last_name }}</td>
                        <td>{{ service_advisor.designation }}</td>
              {% if user.is_staff %}
            <td><a href="{% url 'advisor:advisor_update_view' pk=service_advisor.id %}" 
                    class="btn btn-primary btn-xs edit-users">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-success btn-xs read-advisor" 
                data-id = "{% url 'advisor:advisor_read_view' pk=service_advisor.id %}"
            data-toggle="modal" data-target="#modal">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            </td>
                {% endif %}
                </tr>
                {% empty %}
                            <p class="font-weight-bold">{% trans "No partnumbers has been added try adding" %} 
                            <a href="{% url 'partsnumber:parts_number_create_view'%}">{% trans "here" %}</a></p>
                            <p class="mb-0"></p>
                        {% endfor %}

                </tbody>
            </table>
        <div>
    </div>
</div>
    {% include "common/paginator.html" %}
{% endblock main %}
