{% extends "common/base.html" %}
{% block title %} Login {% endblock title %}
{% load i18n %}
{% load bootstrap4 %}

{% block login_account %}
    <div class="login-clean">
        <form method="post" role="form">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            <h2 class="sr-only">{% trans 'Login Form' %} </h2>
            <div class="illustration"><i class="fa fa-lock"></i></div>
            <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="{% trans 'Username' %}">
            </div>
            <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="{% trans 'Password'%}">
            </div>
            <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">{% trans 'Login' %}</button></div>
            <a class="forgot" href="#">{% trans 'Forgot username or password?' %} </a>
            </form>
    </div>
{% endblock login_account %}
