{% extends "common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %} Add Parts Number {% endblock title %}

{% block navbar %} {% include "common/navbar.html" %} {% endblock navbar %}
{% block sidebar %} {% include "common/sidebar.html" %} {% endblock sidebar %}
{% block messages %} {% include "common/message.html" %}{% endblock messages %}

{% block main %}
{% include 'common/modal/_modal.html' %}
<section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
              <div class="col-sm-6">
              <h1 class="m-0">{% trans "Parts Number" %}</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                    <a href="#">{% trans "Home" %}</a>
                    </li>
                    <li class="breadcrumb-item active">
                    <a href="#">{% trans "Parts" %}</a>
                    </li>
                </ol>
              </div>
              </div>
            </div>
</section>
<section class="content">
    <div class="container-fluid">
    <div class="card card-default">
        <div class="card-body">
           <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form  %}
                {% if partsnumber_id is not None %}
                    <div class="col">
                        <label for=""></label>  
                        <button type="submit" class="btn btn-primary btn-block" id="submit-button">{% trans "Save" %}</button>
                    </div>
                {% else %}
                    <div class="col">
                        <label for=""></label>
                        <button type="submit" class="btn btn-success btn-block" id="submit-button">{% trans "Update" %}</button>
                    </div>
                        <div class="col">
                        <label for=""></label>
                        <a class="btn btn-warning btn-block" 
                        data-id="{% url 'partsnumber:parts_number_delete_view' pk=partsnumber.id %}" data-toggle="modal" data-target="#modal">{% trans "Delete" %}</a>
                    </div>
                {% endif %}
                <div class="col">
                    <label for=""></label>
                    <a href="{% url 'partsnumber:parts_number_index_view' %}" class="btn btn-danger btn-block">
                    {% trans "Cancel" %}</a>
                </div>
            </div>
         </form>
    </div>
        </div>
    </section>
{% endblock main %}
