{% extends "common/base.html" %}
{% load humanize %}
{% load i18n %}
{% load bootstrap4 %}


{% block navbar %} {% include  'common/navbar.html'%}{% endblock navbar %}
{% block sidebar%} {% include  'common/sidebar.html'%}{% endblock sidebar %}
{% block message %} {% include "common/message.html" %} {% endblock message %}

{% block main %}
    {% include 'common/modal/_modal.html' %}
<div class="row">
<div class="col-md-11 col-lg-11 card-col">       
    <div class="card card-default">
        <div class="card-body">
            <table class="table table-bordered xs-data-table">
                <thead class="thead">
                    <tr>
                    <a href="{% url 'partsnumber:parts_number_create_view' %}">
                    <button class="btn btn-danger btn-md add-button-cls" >
                        {% trans "Add Part Numbers" %}
                        <i class="typcn typcn-plus" aria-hidden="true"></i>
                    </button>
                    </a>
                        {% comment %} <th>Employee ID</th> {% endcomment %}
                        <!-- change this approach that field name will iterate in this section-->
                        <th>{% trans "Part Number" %}</th>
                        <th>{% trans "Unit of Measure" %}</th>
                        <th>{% trans "Description" %}</th>
                       <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>

                        {% for partnumbers in partsnumber  %}
                    <tr>
                        <td>{{ partnumbers.partnumber }}</a></b></td>
                        <td>{{ partnumbers.unit_measure.um }}</td>
                        <td>{{ partnumbers.description }}</td>
            {% if user.is_staff %}
            <td>
            <a href="{% url 'partsnumber:parts_number_update_view' pk=partnumbers.id %}" 
                    class="btn btn-primary btn-icons btn-rounded edit">
                    <i class="typcn typcn-pencil" aria-hidden="true"></i>
            </a>
        <button type="button" class="btn btn-icons btn-rounded btn-danger read-partsnumber" 
            data-id = "{% url 'partsnumber:parts_number_read_view' pk=partnumbers.id %}"
        data-toggle="modal" data-target="#modal">
            <i class="typcn typcn-eye" aria-hidden="true"></i>
           
        </button>
        </td> 
            {% endif %}
                    </tr>
                    {% empty %}
                            <p class="font-weight-bold">{% trans "No partnumbers has been added try adding" %} 
                            <a href="{% url 'partsnumber:parts_number_create_view'%}">{% trans "here" %}</a></p>
                            <p class="mb-0"></p>
                        {% endfor %}

                </tbody>
            </table>
        <div>
    </div>

</div>
    <div class="col-md-2 offset-1"> <!--TODO: Fix the proper alignment of this area-->
    {% include 'common/paginator.html' %}
    </div>
</div>

{% endblock main %}
