{% load i18n %}
    <div class="modal-header">
        <h3 class="modal-title">View Parts Number</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
        <div class="modal-body">
              <a href="#" class="list-group-item list-group-item-action disabled">{% trans "Employee ID:" %}<b>{{employees.employee_id }}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Branch Name:" %}<b>{{employees.branch.get_branch}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "First Name:" %}<b>{{employees.firstname}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Last Name:" %} <b>{{employees.lastname}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Middle Name:" %}<b>{{employees.middlename}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Job Description:" %} <b>{{employees.position}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Supervisor:" %} <b>{{employees.supervisor.get_supervisor_name}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Date Hired:" %}<b>{{employees.date_hired}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Salary Range:" %}<b>{{employees.salary_range}}</b></a>
              <a href="#" class="list-group-item list-group-item-action">{% trans "Status" %}
                {% if employees.status == 'Active' %}
                <button class="btn btn-success btn-xs" type="button"><b>{{employees.status}}</b></button></a>
                {% else %}
                 <button class="btn btn-danger btn-xs" type="button"><b>{{employees.status}}</b></button></a>
                {% endif %} 
    </div>
    </div>
    <div class="modal-footer">
      <a href="" class="btn btn-success"><i class="fa fa-print" aria-hidden="true"></i> <b>{% trans "Print" %}</b> </a>
      <a href="{% url 'employee:employee_index' %}" class="btn btn-warning" data-dismiss="modal"><b>{% trans "Back" %}</b></a>
    </div>

