{% extends "common/base.html" %}
{% block title %} Item Class {% endblock title %}
{% load i18n %}
{% load bootstrap4 %}

{% block sidebar %} {% include "common/sidebar.html" %}{% endblock sidebar %}
{% block navbar %} {% include "common/navbar.html" %}{% endblock navbar %}
{% block messages %} {% include "common/message.html" %} {% endblock messages %}

{% block main %}
<div class="col-md-10 col-lg-10 card-col">
    {% include "common/modal/_modal.html" %}
    <div class="card card-default">
        <div class="card-body">
                <table class="table table-bordered xs-data-table">
                    <thead class="thead-dark">
                        <tr>
                        <a href="{% url 'partsnumber:part_class_create_view' %}">
                        <button class="btn btn-primary btn-md add-button-cls">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        </a>
                            {% comment %} <th>item_class ID</th> {% endcomment %}
                            <th>{% trans "Account Code ID" %}</th>
                            <th>{% trans "Class Name" %}</th>
                            <th>{% trans "Charge Type" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partnumber_class in page_obj.object_list  %}
                        <td>{{ partnumber_class.code_name}}</td>
                        <td>{{ partnumber_class.class_name }}</td>
                        <td>{{ partnumber_class.charge_type }}</td>
                <td>
                    {% if user.is_staff %}
                <a href="{% url 'partsnumber:part_class_update_view' pk=partnumber_class.id %}" 
                        class="btn btn-primary btn-xs edit-users">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button type="button" class="btn btn-success btn-xs read-item-class" 
                    data-id = "{% url 'partsnumber:item_class_read' pk=partnumber_class.id %}"
                data-toggle="modal" data-target="#modal">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                </td>
                        {% endif %}
                            </tr>
                            {% empty %}
                                    <p class="font-weight-bold">{% trans "No Part Number class has been added try adding" %} 
                                    <a href="{% url 'partsnumber:part_class_create_view'%}">{% trans "here" %}</a></p>
                                    <p class="mb-0"></p>
                                {% endfor %}
                    </tbody>
                </table>
            <div>
        </div>
    </div>
</div>
{% include "common/paginator.html" %}
{% endblock main %}
]