{% load static %}
{% load i18n %}
<li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="{% static 'images/faces/face24.jpg'%}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="{% static 'images/faces/face24.jpg'%}" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">{{ user.get_user_account_name }}</p>
                  <p class="font-weight-light text-muted mb-0">{{ user.get_user_email }}</p>
                </div>
                <a class="dropdown-item">{% trans 'Profile' %} <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                <a class="dropdown-item">{% trans 'Activity' %}<i class="dropdown-item-icon ti-location-arrow"></i></a>
                <a class="dropdown-item">{% trans 'FAQ' %} <i class="dropdown-item-icon ti-help-alt"></i></a>
                <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}<i class="dropdown-item-icon ti-power-off"></i></a>
              </div>
</li>