{% load static %}
{% load i18n %}
{% include "common/modal/_modal.html" %}

<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" aria-labelledby="UserDropdown">
  <a href="#" class="dropdown-item"> 
  <i class="fas fa-users mr-2"></i> {{ user.get_user_account_name }}
  </a>
<div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item">
  <i class="fas fa-envelope mr-2"></i> {{ user.get_user_email }}
  </a>
<div class="dropdown-divider"></div>
  {% comment %} <a class="dropdown-item" href="{% url 'accounts:edit_user' pk=user.id %}">{% trans 'Profile' %}</a> {% endcomment %}
  <a class="dropdown-item" 
  data-id="{% url 'accounts:edit_user' pk=user.id %}" 
  data-toggle="modal"
  data-target="#modal">
  {% trans 'Profile' %}
  </a>

<div class="dropdown-divider"></div>
  <a class="dropdown-item">{% trans 'Activity' %}</a>
<div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
</div>