{% load static %}
{% load i18n %}
{% include "common/modal/_modal.html" %}

<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" aria-labelledby="UserDropdown">
  <a href="#" class="dropdown-item"> 
  <i class="fas fa-users mr-2"></i> {{ user.get_user_account_name }}
  </a>
<div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item">
  <i class="fas fa-envelope mr-2"></i> {{ user.get_user_email }}
  </a>
<div class="dropdown-divider"></div>
  {% comment %} <a class="dropdown-item" href="{% url 'accounts:edit_user' pk=user.id %}">{% trans 'Profile' %}</a> {% endcomment %}
    <a class="dropdown-item" 
  href="{% url 'accounts:edit_user' pk=user.id %}">
<i class="fas fa-user mr-2"></i>
  {% trans 'Profile' %} </a>
  <div class="dropdown-divider"></div>

    <a class="dropdown-item" 
  href="{% url 'accounts:changepassword' pk=user.id %}">
<i class="fas fa-lock mr-2"></i>
  {% trans 'Change Password' %} 
	</a>

<div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'accounts:logout_view' %}">
<i class="fas fa-sign-out-alt mr-2"></i>
		  {% trans 'Logout' %}</a>
</div>
