<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<html>
    <head>
        <title>Parts Arrival |{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"
    {% comment %} <link rel="stylesheet" href="{% static 'css/app.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/customize/login-form.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css'%}">
    {% comment %} CDN {% endcomment %}
    {% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'img/nissan_ico.ico' %}" rel="icon" type="image/x-icon" />
</head>
     <body id="page-top">
    <div id="wrapper">
        {% block sidebar %} {% endblock sidebar %}
        {% block top_bar %} {% endblock top_bar %}
        
        {% block jumbotrons-header %}
        {% endblock jumbotrons-header %}
            {% block message %}{% endblock message %}
            {% comment %} main block{% endcomment %}
            {% block main %} 
            {% endblock main %}
        {% block searchbar %} {% endblock searchbar %}

        <div class="login-account row justify-content-center my-row">
            {% block login_account %}
            {% endblock login_account %}

		{% block logout_account %}
			{% endblock logout_account %}
</div>
<div class="footer-small">
    {% block footer %}
        {% endblock footer %}
</div>
</div> <!--id wrapper-->
    
<script src="{% static 'dev_js/js/jquery.js' %}"></script>
<script src="{% static 'dev_js/js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- You can alternatively load the minified version -->
<script src="{% static 'dev_js/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'dev_js/js/app.js' %}"></script>
<script src="{% static 'dev_js/js/calendar/daterangepicker.js' %}"></script>{# this all jquery and javascript file in-house #}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/calendar/moment.js' %}"></script>
<script src="{% static 'js/calendar/daterangepicker.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    </body>
</html>
