{% load i18n %}
<nav class="navbar navbar-expand-md">
  <div class="brand-text d-none d-md-inline-block">
      <span>{% trans "Nissan Parts Arrival System " %}</span>
  </div>
{% if user.is_authenticated %}
    <button class="navbar-toggler type="button" data-toggle="collapse"
       data-target="#navbar-togglers" aria-expand="false">
       <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-togglers">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="" class="nav-link" >
            <i class="fa fa-cog"></i> Settings</a></li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">{% trans "Logout" %}</a>
            </li>
        </ul>
{% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">{% trans "Login" %}</a></li>
              </ul>
{% endif %}
