{% load static %}
{% load i18n %}
    <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category"></li>    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:dashboard_view_index' %}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">{% trans "Dashboard" %}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'advisor:advisor_index' %}">
                <i class="menu-icon typcn typcn-th-large-outline"></i>
                <span class="menu-title">{% trans "Service Advisor" %}</span>
              </a>
            </li>
            {% if  user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">{% trans "Inventory" %}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'partsnumber:parts_number_create_view' %}">{% trans "Item Number" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'partsnumber:parts_um_create_view' %}">{% trans "UM (Unit of Measure)" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'partsnumber:parts_show_class' %}">{% trans "Item Class" %}</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#arrival-parts" ari-expand="false" aria-controls="arrival-parts">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">{% trans "Arrival" %}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="arrival-parts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'arrival:arrival_index' %}">{% trans "Parts Arrival" %}</a>
                    </li>
                  </ul>
              </div>
            </li>

            {% else %}
            <!--For viewing of advisor and manager-->
            <!--Add also the reports in this area-->
            <li class="nav-item">
              <a class="nav-link" href="{% url '#' %}">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">{% trans "Employee" %}</span>
              </a>
            </li>
           {% endif %}
          </ul>
        </nav>
        <!--end sidebar partial -->